In [1]:
%env SPARK_VERSION=3.5.5

env: SPARK_VERSION=3.5.5

In [2]:
### Spark Session Initialization with PyDeequ and JDBC Support
import pydeequ
from pyspark.sql import SparkSession

# Initialize Spark session 
spark = (
    SparkSession.builder
    .appName("DeequDataProfiling")
    .config("spark.jars", "/opt/spark/jars/mssql-jdbc-12.10.0.jre11.jar")
    .config("spark.jars.packages", pydeequ.deequ_maven_coord)
    .config("spark.jars.excludes", pydeequ.f2j_maven_coord)
    .getOrCreate()
)
# use this part for clarity (optional)
print("✅ Spark session created!")
print("Spark version:", spark.version)

✅ Spark session created!
Spark version: 3.5.5

In [3]:
### JDBC connection properties
jdbc_url = "jdbc:sqlserver://host.docker.internal:1433;databaseName=TRN;encrypt=true;trustServerCertificate=true"
connection_properties = {
    "user": "robot",           # Replace with your actual username
    "password": "Vika_password123",  # Replace with your actual password
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

# Load the employees table from the TRN database
df_employees = spark.read.jdbc(
    url=jdbc_url,
    table="hr.employees",
    properties=connection_properties
)

# Show the first 20 rows to confirm it's loaded
df_employees.show(20)

+-----------+-----------+----------+--------------------+------------+----------+------+--------+----------+-------------+
|employee_id| first_name| last_name|               email|phone_number| hire_date|job_id|  salary|manager_id|department_id|
+-----------+-----------+----------+--------------------+------------+----------+------+--------+----------+-------------+
|        100|     Steven|      King|steven.king@sqltu...|515.123.4567|1987-06-17|     4|24000.00|      NULL|            9|
|        101|      Neena|   Kochhar|neena.kochhar@sql...|515.123.4568|1989-09-21|     5|17000.00|       100|            9|
|        102|        Lex|   De Haan|lex.de haan@sqltu...|515.123.4569|1993-01-13|     5|17000.00|       100|            9|
|        103|  Alexander|    Hunold|alexander.hunold@...|590.423.4567|1990-01-03|     9| 9000.00|       102|            6|
|        104|      Bruce|     Ernst|bruce.ernst@sqltu...|590.423.4568|1991-05-21|     9| 6000.00|       103|            6|
|        105|      David|    Austin|david.austin@sqlt...|590.423.4569|1997-06-25|     9| 4800.00|       103|            6|
|        106|      Valli| Pataballa|valli.pataballa@s...|590.423.4560|1998-02-05|     9| 4800.00|       103|            6|
|        107|      Diana|   Lorentz|diana.lorentz@sql...|590.423.5567|1999-02-07|     9| 4200.00|       103|            6|
|        108|      Nancy| Greenberg|nancy.greenberg@s...|515.124.4569|1994-08-17|     7|12000.00|       101|           10|
|        109|     Daniel|    Faviet|daniel.faviet@sql...|515.124.4169|1994-08-16|     6| 9000.00|       108|           10|
|        110|       John|      Chen|john.chen@sqltuto...|515.124.4269|1997-09-28|     6| 8200.00|       108|           10|
|        111|     Ismael|   Sciarra|ismael.sciarra@sq...|515.124.4369|1997-09-30|     6| 7700.00|       108|           10|
|        112|Jose Manuel|     Urman|jose manuel.urman...|515.124.4469|1998-03-07|     6| 7800.00|       108|           10|
|        113|       Luis|      Popp|luis.popp@sqltuto...|515.124.4567|1999-12-07|     6| 6900.00|       108|           10|
|        114|        Den|  Raphaely|den.raphaely@sqlt...|515.127.4561|1994-12-07|    14|11000.00|       100|            3|
|        115|  Alexander|      Khoo|alexander.khoo@sq...|515.127.4562|1995-05-18|    13| 3100.00|       114|            3|
|        116|     Shelli|     Baida|shelli.baida@sqlt...|515.127.4563|1997-12-24|    13| 2900.00|       114|            3|
|        117|      Sigal|    Tobias|sigal.tobias@sqlt...|515.127.4564|1997-07-24|    13| 2800.00|       114|            3|
|        118|        Guy|    Himuro|guy.himuro@sqltut...|515.127.4565|1998-11-15|    13| 2600.00|       114|            3|
|        119|      Karen|Colmenares|karen.colmenares@...|515.127.4566|1999-08-10|    13| 2500.00|       114|            3|
+-----------+-----------+----------+--------------------+------------+----------+------+--------+----------+-------------+
only showing top 20 rows

In [4]:
### Display the schema of the table to understand the column names and data types
df_employees.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- job_id: integer (nullable = true)
 |-- salary: decimal(8,2) (nullable = true)
 |-- manager_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)

In [6]:
### Data Analyzers section
from pydeequ.analyzers import *

analysis_result = (
    AnalysisRunner(spark)
    .onData(df_employees)

    # Dataset-level
    .addAnalyzer(Size())

    # Column-level: email
    .addAnalyzer(Completeness("email"))
    .addAnalyzer(Uniqueness(["email"]))
    .addAnalyzer(CountDistinct("email")) 

    # Column-level: employee_id
    .addAnalyzer(CountDistinct("employee_id"))
    .addAnalyzer(Uniqueness(["employee_id"]))

    # Column-level: salary
    .addAnalyzer(Minimum("salary"))
    .addAnalyzer(Maximum("salary"))
    .addAnalyzer(Mean("salary"))
    .addAnalyzer(StandardDeviation("salary"))

    # Column-level: hire_date
    .addAnalyzer(Minimum("hire_date"))
    .addAnalyzer(Maximum("hire_date"))

    .run()
)

# Convert results to DataFrame and show
analysis_result_df = AnalyzerContext.successMetricsAsDataFrame(spark, analysis_result)
analysis_result_df.show(truncate=False)

+-------+-----------+-----------------+-----------------+
|entity |instance   |name             |value            |
+-------+-----------+-----------------+-----------------+
|Column |email      |Completeness     |1.0              |
|Column |email      |Uniqueness       |1.0              |
|Column |employee_id|Uniqueness       |1.0              |
|Column |email      |CountDistinct    |40.0             |
|Column |employee_id|CountDistinct    |40.0             |
|Dataset|*          |Size             |40.0             |
|Column |salary     |Minimum          |2500.0           |
|Column |salary     |Maximum          |24000.0          |
|Column |salary     |Mean             |8060.0           |
|Column |salary     |StandardDeviation|4528.068020690502|
+-------+-----------+-----------------+-----------------+

In [6]:
### Data profiling version 1 (raw)

from pydeequ.profiles import *

# creating a data profile for the Production.Product table
result = ColumnProfilerRunner(spark) \
    .onData(df_employees) \
    .run()

for col, profile in result.profiles.items():
    print(profile)

StandardProfiles for column: first_name: {
    "completeness": 1.0,
    "approximateNumDistinctValues": 36,
    "dataType": "String",
    "isDataTypeInferred": false,
    "typeCounts": {
        "Boolean": 0,
        "Fractional": 0,
        "Integral": 0,
        "Unknown": 0,
        "String": 40
    },
    "histogram": [
        [
            "Den",
            1,
            0.025
        ],
        [
            "John",
            2,
            0.05
        ],
        [
            "Karen",
            2,
            0.05
        ],
        [
            "William",
            1,
            0.025
        ],
        [
            "Alexander",
            2,
            0.05
        ],
        [
            "Pat",
            1,
            0.025
        ],
        [
            "Lex",
            1,
            0.025
        ],
        [
            "Nancy",
            1,
            0.025
        ],
        [
            "Shelli",
            1,
            0.025
        ],
        [
            "Kimberely",
            1,
            0.025
        ],
        [
            "Valli",
            1,
            0.025
        ],
        [
            "Jennifer",
            1,
            0.025
        ],
        [
            "Sigal",
            1,
            0.025
        ],
        [
            "Sarah",
            1,
            0.025
        ],
        [
            "Matthew",
            1,
            0.025
        ],
        [
            "Diana",
            1,
            0.025
        ],
        [
            "Susan",
            1,
            0.025
        ],
        [
            "Luis",
            1,
            0.025
        ],
        [
            "Jonathon",
            1,
            0.025
        ],
        [
            "Steven",
            1,
            0.025
        ],
        [
            "Jose Manuel",
            1,
            0.025
        ],
        [
            "Shelley",
            1,
            0.025
        ],
        [
            "Jack",
            1,
            0.025
        ],
        [
            "Hermann",
            1,
            0.025
        ],
        [
            "Neena",
            1,
            0.025
        ],
        [
            "Bruce",
            1,
            0.025
        ],
        [
            "Adam",
            1,
            0.025
        ],
        [
            "Ismael",
            1,
            0.025
        ],
        [
            "Daniel",
            1,
            0.025
        ],
        [
            "David",
            1,
            0.025
        ],
        [
            "Shanta",
            1,
            0.025
        ],
        [
            "Charles",
            1,
            0.025
        ],
        [
            "Payam",
            1,
            0.025
        ],
        [
            "Michael",
            1,
            0.025
        ],
        [
            "Guy",
            1,
            0.025
        ],
        [
            "Irene",
            1,
            0.025
        ],
        [
            "Britney",
            1,
            0.025
        ]
    ]
}
NumericProfiles for column: employee_id: {
    "completeness": 1.0,
    "approximateNumDistinctValues": 39,
    "dataType": "Integral",
    "isDataTypeInferred": false,
    "typeCounts": {},
    "histogram": [
        [
            "205",
            1,
            0.025
        ],
        [
            "113",
            1,
            0.025
        ],
        [
            "120",
            1,
            0.025
        ],
        [
            "193",
            1,
            0.025
        ],
        [
            "100",
            1,
            0.025
        ],
        [
            "121",
            1,
            0.025
        ],
        [
            "110",
            1,
            0.025
        ],
        [
            "104",
            1,
            0.025
        ],
        [
            "201",
            1,
            0.025
        ],
        [
            "117",
            1,
            0.025
        ],
        [
            "123",
            1,
            0.025
        ],
        [
            "107",
            1,
            0.025
        ],
        [
            "206",
            1,
            0.025
        ],
        [
            "177",
            1,
            0.025
        ],
        [
            "192",
            1,
            0.025
        ],
        [
            "103",
            1,
            0.025
        ],
        [
            "112",
            1,
            0.025
        ],
        [
            "116",
            1,
            0.025
        ],
        [
            "108",
            1,
            0.025
        ],
        [
            "202",
            1,
            0.025
        ],
        [
            "106",
            1,
            0.025
        ],
        [
            "126",
            1,
            0.025
        ],
        [
            "122",
            1,
            0.025
        ],
        [
            "111",
            1,
            0.025
        ],
        [
            "102",
            1,
            0.025
        ],
        [
            "145",
            1,
            0.025
        ],
        [
            "203",
            1,
            0.025
        ],
        [
            "115",
            1,
            0.025
        ],
        [
            "109",
            1,
            0.025
        ],
        [
            "178",
            1,
            0.025
        ],
        [
            "118",
            1,
            0.025
        ],
        [
            "101",
            1,
            0.025
        ],
        [
            "179",
            1,
            0.025
        ],
        [
            "114",
            1,
            0.025
        ],
        [
            "105",
            1,
            0.025
        ],
        [
            "204",
            1,
            0.025
        ],
        [
            "200",
            1,
            0.025
        ],
        [
            "119",
            1,
            0.025
        ],
        [
            "146",
            1,
            0.025
        ],
        [
            "176",
            1,
            0.025
        ]
    ],
    "kll": "None",
    "mean": 140.225,
    "maximum": 206.0,
    "minimum": 100.0,
    "sum": 5609.0,
    "stdDev": 38.68235224233398,
    "approxPercentiles": []
}
StandardProfiles for column: hire_date: {
    "completeness": 1.0,
    "approximateNumDistinctValues": 38,
    "dataType": "Unknown",
    "isDataTypeInferred": false,
    "typeCounts": {},
    "histogram": null
}
NumericProfiles for column: manager_id: {
    "completeness": 0.975,
    "approximateNumDistinctValues": 10,
    "dataType": "Integral",
    "isDataTypeInferred": false,
    "typeCounts": {},
    "histogram": [
        [
            "205",
            1,
            0.025
        ],
        [
            "120",
            1,
            0.025
        ],
        [
            "100",
            14,
            0.35
        ],
        [
            "NullValue",
            1,
            0.025
        ],
        [
            "201",
            1,
            0.025
        ],
        [
            "123",
            2,
            0.05
        ],
        [
            "103",
            4,
            0.1
        ],
        [
            "108",
            5,
            0.125
        ],
        [
            "102",
            1,
            0.025
        ],
        [
            "101",
            5,
            0.125
        ],
        [
            "114",
            5,
            0.125
        ]
    ],
    "kll": "None",
    "mean": 110.28205128205128,
    "maximum": 205.0,
    "minimum": 100.0,
    "sum": 4301.0,
    "stdDev": 22.59220278240864,
    "approxPercentiles": []
}
StandardProfiles for column: phone_number: {
    "completeness": 0.85,
    "approximateNumDistinctValues": 34,
    "dataType": "String",
    "isDataTypeInferred": false,
    "typeCounts": {
        "Boolean": 0,
        "Fractional": 0,
        "Integral": 0,
        "Unknown": 6,
        "String": 34
    },
    "histogram": [
        [
            "590.423.5567",
            1,
            0.025
        ],
        [
            "650.123.1234",
            1,
            0.025
        ],
        [
            "650.124.1224",
            1,
            0.025
        ],
        [
            "590.423.4567",
            1,
            0.025
        ],
        [
            "515.123.5555",
            1,
            0.025
        ],
        [
            "515.124.4469",
            1,
            0.025
        ],
        [
            "515.127.4564",
            1,
            0.025
        ],
        [
            "650.501.2876",
            1,
            0.025
        ],
        [
            "NullValue",
            6,
            0.15
        ],
        [
            "515.124.4169",
            1,
            0.025
        ],
        [
            "515.124.4369",
            1,
            0.025
        ],
        [
            "515.123.4569",
            1,
            0.025
        ],
        [
            "603.123.6666",
            1,
            0.025
        ],
        [
            "650.123.4234",
            1,
            0.025
        ],
        [
            "590.423.4568",
            1,
            0.025
        ],
        [
            "515.123.8888",
            1,
            0.025
        ],
        [
            "515.124.4269",
            1,
            0.025
        ],
        [
            "515.127.4563",
            1,
            0.025
        ],
        [
            "515.123.7777",
            1,
            0.025
        ],
        [
            "515.123.8181",
            1,
            0.025
        ],
        [
            "590.423.4569",
            1,
            0.025
        ],
        [
            "515.123.4444",
            1,
            0.025
        ],
        [
            "515.127.4566",
            1,
            0.025
        ],
        [
            "515.123.4567",
            1,
            0.025
        ],
        [
            "650.501.1876",
            1,
            0.025
        ],
        [
            "515.127.4562",
            1,
            0.025
        ],
        [
            "515.124.4567",
            1,
            0.025
        ],
        [
            "650.123.2234",
            1,
            0.025
        ],
        [
            "515.123.4568",
            1,
            0.025
        ],
        [
            "515.124.4569",
            1,
            0.025
        ],
        [
            "515.127.4565",
            1,
            0.025
        ],
        [
            "650.123.3234",
            1,
            0.025
        ],
        [
            "515.127.4561",
            1,
            0.025
        ],
        [
            "515.123.8080",
            1,
            0.025
        ],
        [
            "590.423.4560",
            1,
            0.025
        ]
    ]
}
StandardProfiles for column: email: {
    "completeness": 1.0,
    "approximateNumDistinctValues": 41,
    "dataType": "String",
    "isDataTypeInferred": false,
    "typeCounts": {
        "Boolean": 0,
        "Fractional": 0,
        "Integral": 0,
        "Unknown": 0,
        "String": 40
    },
    "histogram": [
        [
            "alexander.hunold@sqltutorial.org",
            1,
            0.025
        ],
        [
            "britney.everett@sqltutorial.org",
            1,
            0.025
        ],
        [
            "shelley.higgins@sqltutorial.org",
            1,
            0.025
        ],
        [
            "jose manuel.urman@sqltutorial.org",
            1,
            0.025
        ],
        [
            "kimberely.grant@sqltutorial.org",
            1,
            0.025
        ],
        [
            "den.raphaely@sqltutorial.org",
            1,
            0.025
        ],
        [
            "guy.himuro@sqltutorial.org",
            1,
            0.025
        ],
        [
            "adam.fripp@sqltutorial.org",
            1,
            0.025
        ],
        [
            "sarah.bell@sqltutorial.org",
            1,
            0.025
        ],
        [
            "valli.pataballa@sqltutorial.org",
            1,
            0.025
        ],
        [
            "shelli.baida@sqltutorial.org",
            1,
            0.025
        ],
        [
            "william.gietz@sqltutorial.org",
            1,
            0.025
        ],
        [
            "susan.mavris@sqltutorial.org",
            1,
            0.025
        ],
        [
            "john.russell@sqltutorial.org",
            1,
            0.025
        ],
        [
            "jennifer.whalen@sqltutorial.org",
            1,
            0.025
        ],
        [
            "jack.livingston@sqltutorial.org",
            1,
            0.025
        ],
        [
            "alexander.khoo@sqltutorial.org",
            1,
            0.025
        ],
        [
            "john.chen@sqltutorial.org",
            1,
            0.025
        ],
        [
            "diana.lorentz@sqltutorial.org",
            1,
            0.025
        ],
        [
            "charles.johnson@sqltutorial.org",
            1,
            0.025
        ],
        [
            "karen.partners@sqltutorial.org",
            1,
            0.025
        ],
        [
            "jonathon.taylor@sqltutorial.org",
            1,
            0.025
        ],
        [
            "lex.de haan@sqltutorial.org",
            1,
            0.025
        ],
        [
            "nancy.greenberg@sqltutorial.org",
            1,
            0.025
        ],
        [
            "karen.colmenares@sqltutorial.org",
            1,
            0.025
        ],
        [
            "hermann.baer@sqltutorial.org",
            1,
            0.025
        ],
        [
            "pat.fay@sqltutorial.org",
            1,
            0.025
        ],
        [
            "bruce.ernst@sqltutorial.org",
            1,
            0.025
        ],
        [
            "payam.kaufling@sqltutorial.org",
            1,
            0.025
        ],
        [
            "matthew.weiss@sqltutorial.org",
            1,
            0.025
        ],
        [
            "michael.hartstein@sqltutorial.org",
            1,
            0.025
        ],
        [
            "steven.king@sqltutorial.org",
            1,
            0.025
        ],
        [
            "shanta.vollman@sqltutorial.org",
            1,
            0.025
        ],
        [
            "ismael.sciarra@sqltutorial.org",
            1,
            0.025
        ],
        [
            "neena.kochhar@sqltutorial.org",
            1,
            0.025
        ],
        [
            "sigal.tobias@sqltutorial.org",
            1,
            0.025
        ],
        [
            "luis.popp@sqltutorial.org",
            1,
            0.025
        ],
        [
            "daniel.faviet@sqltutorial.org",
            1,
            0.025
        ],
        [
            "irene.mikkilineni@sqltutorial.org",
            1,
            0.025
        ],
        [
            "david.austin@sqltutorial.org",
            1,
            0.025
        ]
    ]
}
NumericProfiles for column: department_id: {
    "completeness": 1.0,
    "approximateNumDistinctValues": 11,
    "dataType": "Integral",
    "isDataTypeInferred": false,
    "typeCounts": {},
    "histogram": [
        [
            "8",
            6,
            0.15
        ],
        [
            "4",
            1,
            0.025
        ],
        [
            "11",
            2,
            0.05
        ],
        [
            "9",
            3,
            0.075
        ],
        [
            "5",
            7,
            0.175
        ],
        [
            "10",
            6,
            0.15
        ],
        [
            "6",
            5,
            0.125
        ],
        [
            "1",
            1,
            0.025
        ],
        [
            "2",
            2,
            0.05
        ],
        [
            "7",
            1,
            0.025
        ],
        [
            "3",
            6,
            0.15
        ]
    ],
    "kll": "None",
    "mean": 6.4,
    "maximum": 11.0,
    "minimum": 1.0,
    "sum": 256.0,
    "stdDev": 2.8000000000000003,
    "approxPercentiles": []
}
NumericProfiles for column: job_id: {
    "completeness": 1.0,
    "approximateNumDistinctValues": 19,
    "dataType": "Integral",
    "isDataTypeInferred": false,
    "typeCounts": {},
    "histogram": [
        [
            "12",
            1,
            0.025
        ],
        [
            "8",
            1,
            0.025
        ],
        [
            "19",
            4,
            0.1
        ],
        [
            "4",
            1,
            0.025
        ],
        [
            "15",
            2,
            0.05
        ],
        [
            "11",
            1,
            0.025
        ],
        [
            "9",
            5,
            0.125
        ],
        [
            "13",
            5,
            0.125
        ],
        [
            "16",
            4,
            0.1
        ],
        [
            "5",
            2,
            0.05
        ],
        [
            "10",
            1,
            0.025
        ],
        [
            "6",
            5,
            0.125
        ],
        [
            "1",
            1,
            0.025
        ],
        [
            "17",
            2,
            0.05
        ],
        [
            "14",
            1,
            0.025
        ],
        [
            "2",
            1,
            0.025
        ],
        [
            "18",
            1,
            0.025
        ],
        [
            "7",
            1,
            0.025
        ],
        [
            "3",
            1,
            0.025
        ]
    ],
    "kll": "None",
    "mean": 11.1,
    "maximum": 19.0,
    "minimum": 1.0,
    "sum": 444.0,
    "stdDev": 5.18555686498567,
    "approxPercentiles": []
}
NumericProfiles for column: salary: {
    "completeness": 1.0,
    "approximateNumDistinctValues": 33,
    "dataType": "Fractional",
    "isDataTypeInferred": false,
    "typeCounts": {},
    "histogram": null,
    "kll": "None",
    "mean": 8060.0,
    "maximum": 24000.0,
    "minimum": 2500.0,
    "sum": 322400.0,
    "stdDev": 4528.068020690502,
    "approxPercentiles": []
}
StandardProfiles for column: last_name: {
    "completeness": 1.0,
    "approximateNumDistinctValues": 37,
    "dataType": "String",
    "isDataTypeInferred": false,
    "typeCounts": {
        "Boolean": 0,
        "Fractional": 0,
        "Integral": 0,
        "Unknown": 0,
        "String": 40
    },
    "histogram": [
        [
            "Gietz",
            1,
            0.025
        ],
        [
            "Himuro",
            1,
            0.025
        ],
        [
            "Whalen",
            1,
            0.025
        ],
        [
            "Baida",
            1,
            0.025
        ],
        [
            "King",
            1,
            0.025
        ],
        [
            "Chen",
            1,
            0.025
        ],
        [
            "Weiss",
            1,
            0.025
        ],
        [
            "Ernst",
            1,
            0.025
        ],
        [
            "Sciarra",
            1,
            0.025
        ],
        [
            "Khoo",
            1,
            0.025
        ],
        [
            "Kochhar",
            1,
            0.025
        ],
        [
            "Lorentz",
            1,
            0.025
        ],
        [
            "Fripp",
            1,
            0.025
        ],
        [
            "Bell",
            1,
            0.025
        ],
        [

In [ ]:
### Data profiling version 2 
from pydeequ.profiles import ColumnProfilerRunner

# Run the column profiler
profile_result = ColumnProfilerRunner(spark) \
    .onData(df_employees) \
    .run()

# Show basic profiling output
for col, profile in profile_result.profiles.items():
    print(f"\nColumn: {col}")
    print(f" - Completeness: {profile.completeness}")
    print(f" - Data type: {profile.dataType}")
    print(f" - Approx. distinct count: {profile.approximateNumDistinctValues}")
    print(f" - Is nullable: {profile.isDataTypeInferred}")

Column: first_name
 - Completeness: 1.0
 - Data type: String
 - Approx. distinct count: 36
 - Is nullable: False

Column: employee_id
 - Completeness: 1.0
 - Data type: Integral
 - Approx. distinct count: 39
 - Is nullable: False

Column: hire_date
 - Completeness: 1.0
 - Data type: Unknown
 - Approx. distinct count: 38
 - Is nullable: False

Column: manager_id
 - Completeness: 0.975
 - Data type: Integral
 - Approx. distinct count: 10
 - Is nullable: False

Column: phone_number
 - Completeness: 0.85
 - Data type: String
 - Approx. distinct count: 34
 - Is nullable: False

Column: email
 - Completeness: 1.0
 - Data type: String
 - Approx. distinct count: 41
 - Is nullable: False

Column: department_id
 - Completeness: 1.0
 - Data type: Integral
 - Approx. distinct count: 11
 - Is nullable: False

Column: job_id
 - Completeness: 1.0
 - Data type: Integral
 - Approx. distinct count: 19
 - Is nullable: False

Column: salary
 - Completeness: 1.0
 - Data type: Fractional
 - Approx. distinct count: 33
 - Is nullable: False

Column: last_name
 - Completeness: 1.0
 - Data type: String
 - Approx. distinct count: 37
 - Is nullable: False

In [22]:
### Data profiling version 3 (my favorite option)
from pyspark.sql.types import StructType, StructField, StringType, DoubleType
from pyspark.sql.functions import col, length

# Define enhanced schema
schema = StructType([
    StructField("column", StringType(), True),
    StructField("data_type", StringType(), True),
    StructField("completeness", DoubleType(), True),
    StructField("null_count", DoubleType(), True),
    StructField("approx_distinct", DoubleType(), True),
    StructField("min", StringType(), True),
    StructField("max", StringType(), True),
    StructField("mean", StringType(), True),
    StructField("min_length", DoubleType(), True),
    StructField("max_length", DoubleType(), True),
    StructField("pattern_example", StringType(), True),
])

total_count = df_employees.count()
string_cols = [f.name for f in df_employees.schema.fields if f.dataType.simpleString() == "string"]

profile_rows = []

for col_name, profile in profile_result.profiles.items():
    nulls = total_count * (1 - profile.completeness)
    data_type = str(profile.dataType)
    
    # Default values
    min_len = max_len = None
    sample_pattern = None

    if col_name in string_cols:
        length_stats = df_employees.select(length(col(col_name)).alias("len")).agg(
            {"len": "min"}
        ).withColumnRenamed("min(len)", "min_len").join(
            df_employees.select(length(col(col_name)).alias("len")).agg({"len": "max"}).withColumnRenamed("max(len)", "max_len")
        ).collect()[0]

        min_len = float(length_stats["min_len"]) if length_stats["min_len"] is not None else None
        max_len = float(length_stats["max_len"]) if length_stats["max_len"] is not None else None

        sample_row = df_employees.select(col_name).filter(col(col_name).isNotNull()).limit(1).collect()
        sample_pattern = sample_row[0][0] if sample_row else None

    row = (
        col_name,
        data_type,
        float(profile.completeness),
        float(nulls),
        float(profile.approximateNumDistinctValues),
        str(getattr(profile, "minimum", getattr(profile, "min", None))),
        str(getattr(profile, "maximum", getattr(profile, "max", None))),
        str(getattr(profile, "mean", None)),
        min_len,
        max_len,
        sample_pattern
    )
    profile_rows.append(row)

# Create and show final profiling DataFrame
df_profile = spark.createDataFrame(profile_rows, schema=schema)
df_profile.show(truncate=False)
# ┌────────────────────────────────────────────────────────────────────┐
# │ ℹ️  Notes on Profiling Fields:                                     │
# │ 📊 min, max, mean              → Applicable to numeric columns only│
# │ 🔤 min_length, max_length      → Applicable to string columns only │
# │ 🧩 pattern_example             → Sample value to illustrate format │
# └────────────────────────────────────────────────────────────────────┘

+-------------+----------+------------+------------------+---------------+------+-------+------------------+----------+----------+---------------------------+
|column       |data_type |completeness|null_count        |approx_distinct|min   |max    |mean              |min_length|max_length|pattern_example            |
+-------------+----------+------------+------------------+---------------+------+-------+------------------+----------+----------+---------------------------+
|first_name   |String    |1.0         |0.0               |36.0           |None  |None   |None              |3.0       |11.0      |Steven                     |
|employee_id  |Integral  |1.0         |0.0               |39.0           |100.0 |206.0  |140.225           |NULL      |NULL      |NULL                       |
|hire_date    |Unknown   |1.0         |0.0               |38.0           |None  |None   |None              |NULL      |NULL      |NULL                       |
|manager_id   |Integral  |0.975       |1.0000000000000009|10.0           |100.0 |205.0  |110.28205128205128|NULL      |NULL      |NULL                       |
|phone_number |String    |0.85        |6.000000000000001 |34.0           |None  |None   |None              |12.0      |12.0      |515.123.4567               |
|email        |String    |1.0         |0.0               |41.0           |None  |None   |None              |23.0      |33.0      |steven.king@sqltutorial.org|
|department_id|Integral  |1.0         |0.0               |11.0           |1.0   |11.0   |6.4               |NULL      |NULL      |NULL                       |
|job_id       |Integral  |1.0         |0.0               |19.0           |1.0   |19.0   |11.1              |NULL      |NULL      |NULL                       |
|salary       |Fractional|1.0         |0.0               |33.0           |2500.0|24000.0|8060.0            |NULL      |NULL      |NULL                       |
|last_name    |String    |1.0         |0.0               |37.0           |None  |None   |None              |3.0       |11.0      |King                       |
+-------------+----------+------------+------------------+---------------+------+-------+------------------+----------+----------+---------------------------+

In [ ]:
# Optional: Save profiling results to CSV. This will create a folder called profiling_results with a CSV file inside it 
df_profile.coalesce(1).write.option("header", True).csv("profiling_results")

In [ ]:
### Constraint Suggestions section
from pydeequ.suggestions import *

# Generate constraint suggestions
suggestion_result = (
    ConstraintSuggestionRunner(spark)
    .onData(df_employees)
    .addConstraintRule(DEFAULT())
    .run()
)

# Display each suggestion with a fallback if no 'code'
#print("🔍 Suggested Constraints:\n")
#for s in suggestion_result['constraint_suggestions']:
    #print(f"✔️ {s['description']}")
    #print(f"Code: {s.get('code', '⚠️ No code suggestion available')}\n")

print("🔍 Suggested Constraints:\n")
for s in suggestion_result['constraint_suggestions']:
    print(f"✔️ {s['description']}")
    print(f"The corresponding Python code is: {s.get('code_for_constraint', '⚠️ No code suggestion available')}\n")

🔍 Suggested Constraints:

✔️ 'first_name' is not null
The corresponding Python code is: .isComplete("first_name")

✔️ 'employee_id' is not null
The corresponding Python code is: .isComplete("employee_id")

✔️ 'employee_id' has no negative values
The corresponding Python code is: .isNonNegative("employee_id")

✔️ 'employee_id' is unique
The corresponding Python code is: .isUnique("employee_id")

✔️ 'hire_date' is not null
The corresponding Python code is: .isComplete("hire_date")

✔️ 'hire_date' is unique
The corresponding Python code is: .isUnique("hire_date")

✔️ 'manager_id' has no negative values
The corresponding Python code is: .isNonNegative("manager_id")

✔️ 'manager_id' has less than 7% missing values
The corresponding Python code is: .hasCompleteness("manager_id", lambda x: x >= 0.92, "It should be above 0.92!")

✔️ 'phone_number' has less than 27% missing values
The corresponding Python code is: .hasCompleteness("phone_number", lambda x: x >= 0.73, "It should be above 0.73!")

✔️ 'email' is not null
The corresponding Python code is: .isComplete("email")

✔️ 'email' is unique
The corresponding Python code is: .isUnique("email")

✔️ 'department_id' is not null
The corresponding Python code is: .isComplete("department_id")

✔️ 'department_id' has value range '5', '3', '10', '8', '6', '9', '2', '11' for at least 84.0% of values
The corresponding Python code is: .isContainedIn("department_id", ["5", "3", "10", "8", "6", "9", "2", "11"], lambda x: x >= 0.84, "It should be above 0.84!")

✔️ 'department_id' has no negative values
The corresponding Python code is: .isNonNegative("department_id")

✔️ 'job_id' is not null
The corresponding Python code is: .isComplete("job_id")

✔️ 'job_id' has no negative values
The corresponding Python code is: .isNonNegative("job_id")

✔️ 'salary' is not null
The corresponding Python code is: .isComplete("salary")

✔️ 'salary' has no negative values
The corresponding Python code is: .isNonNegative("salary")

✔️ 'last_name' is not null
The corresponding Python code is: .isComplete("last_name")

✔️ 'last_name' is unique
The corresponding Python code is: .isUnique("last_name")

In [12]:
### Constraint Verification section
from pydeequ.checks import Check, CheckLevel
from pydeequ.verification import VerificationSuite, VerificationResult

check = (
    Check(spark, CheckLevel.Error, "Employee data verification")
    
    # employee_id checks
    .isComplete("employee_id")
    .isNonNegative("employee_id")
    .isUnique("employee_id")

    # first_name checks
    .isComplete("first_name")
    .hasMinLength("first_name", lambda x: x >= 2)
    .hasMaxLength("first_name", lambda x: x <= 30)
    .hasPattern("first_name", r"^[^\d]*$")  # no digits

    # last_name checks
    .isComplete("last_name")
    .hasMinLength("last_name", lambda x: x >= 2)
    .hasMaxLength("last_name", lambda x: x <= 30)
    .hasPattern("last_name", r"^[^\d]*$")  # no digits

    # email checks
    .isComplete("email")
    .isUnique("email")
    .hasPattern("email", r".+@.+\..+")

    # phone_number checks
    .hasCompleteness("phone_number", lambda x: x >= 0.70)
    .hasMinLength("phone_number", lambda x: x >= 10)
    .hasMaxLength("phone_number", lambda x: x <= 12)

    # hire_date checks
    .isComplete("hire_date")    

    # job_id checks
    .isComplete("job_id")
    .isNonNegative("job_id")
    .isContainedIn("job_id", [str(i) for i in range(1, 20)])

    # salary checks
    .isComplete("salary")
    .hasMin("salary", lambda x: x >= 2500)

    # manager_id checks
    .isNonNegative("manager_id")
    .hasCompleteness("manager_id", lambda x: x >= 0.95)
    .isContainedIn("manager_id", ['100', '101', '102', '103', '108', '114', '120', '123', '201', '205'])

    # department_id checks
    .isComplete("department_id")
    .hasCompleteness("department_id", lambda x: x >= 0.95)
    .isContainedIn("department_id", [str(i) for i in range(1, 12)])
)

# Run verification
verification_result = VerificationSuite(spark) \
    .onData(df_employees) \
    .addCheck(check) \
    .run()

# Show results
#verification_result_df = VerificationResult.checkResultsAsDataFrame(spark, verification_result)
#verification_result_df.show(truncate=False)

# Show overall check status
print(f"✅ Verification Run Status: {verification_result.status}")

# Convert result to Pandas DataFrame for a nice table format
verification_result_df = VerificationResult.checkResultsAsDataFrame(spark, verification_result, pandas=True)
verification_result_df

✅ Verification Run Status: Success

/opt/conda/lib/python3.12/site-packages/pyspark/sql/dataframe.py:147: UserWarning: DataFrame constructor is internal. Do not directly use it.
  warnings.warn("DataFrame constructor is internal. Do not directly use it.")

,check,check_level,check_status,constraint,constraint_status,constraint_message
0,Employee data verification,Error,Success,CompletenessConstraint(Completeness(employee_i...,Success,
1,Employee data verification,Error,Success,ComplianceConstraint(Compliance(employee_id is...,Success,
2,Employee data verification,Error,Success,UniquenessConstraint(Uniqueness(List(employee_...,Success,
3,Employee data verification,Error,Success,CompletenessConstraint(Completeness(first_name...,Success,
4,Employee data verification,Error,Success,"MinLengthConstraint(MinLength(first_name,None,...",Success,
5,Employee data verification,Error,Success,"MaxLengthConstraint(MaxLength(first_name,None,...",Success,
6,Employee data verification,Error,Success,"PatternMatchConstraint(first_name, ^[^\d]*$)",Success,
7,Employee data verification,Error,Success,"CompletenessConstraint(Completeness(last_name,...",Success,
8,Employee data verification,Error,Success,"MinLengthConstraint(MinLength(last_name,None,N...",Success,
9,Employee data verification,Error,Success,"MaxLengthConstraint(MaxLength(last_name,None,N...",Success,
10,Employee data verification,Error,Success,"PatternMatchConstraint(last_name, ^[^\d]*$)",Success,
11,Employee data verification,Error,Success,"CompletenessConstraint(Completeness(email,None...",Success,
12,Employee data verification,Error,Success,"UniquenessConstraint(Uniqueness(List(email),No...",Success,
13,Employee data verification,Error,Success,"PatternMatchConstraint(email, .+@.+\..+)",Success,
14,Employee data verification,Error,Success,CompletenessConstraint(Completeness(phone_numb...,Success,
15,Employee data verification,Error,Success,"MinLengthConstraint(MinLength(phone_number,Non...",Success,
16,Employee data verification,Error,Success,"MaxLengthConstraint(MaxLength(phone_number,Non...",Success,
17,Employee data verification,Error,Success,"CompletenessConstraint(Completeness(hire_date,...",Success,
18,Employee data verification,Error,Success,"CompletenessConstraint(Completeness(job_id,Non...",Success,
19,Employee data verification,Error,Success,ComplianceConstraint(Compliance(job_id is non-...,Success,
20,Employee data verification,Error,Success,ComplianceConstraint(Compliance(job_id contain...,Success,
21,Employee data verification,Error,Success,"CompletenessConstraint(Completeness(salary,Non...",Success,
22,Employee data verification,Error,Success,"MinimumConstraint(Minimum(salary,None,None))",Success,
23,Employee data verification,Error,Success,ComplianceConstraint(Compliance(manager_id is ...,Success,
24,Employee data verification,Error,Success,CompletenessConstraint(Completeness(manager_id...,Success,
25,Employee data verification,Error,Success,ComplianceConstraint(Compliance(manager_id con...,Success,
26,Employee data verification,Error,Success,CompletenessConstraint(Completeness(department...,Success,
27,Employee data verification,Error,Success,CompletenessConstraint(Completeness(department...,Success,
28,Employee data verification,Error,Success,ComplianceConstraint(Compliance(department_id ...,Success,

In [16]:
### Create .csv Test Report (This will create a file "constraint_verification_report.csv" in the root folder)
from pydeequ.verification import VerificationResult
checkResult_df = VerificationResult.checkResultsAsDataFrame(spark, verification_result, pandas=True)
checkResult_df.to_csv("constraint_verification_report.csv", index=False)

In [17]:
### Create HTML Test Report (This will create a file "constraint_verification_report.html" in the root folder)
checkResult_df.to_html("constraint_verification_report.html", index=False)